################################################################
#
# Python package requirements for the TensorFlow Exam:
#
# If you are using Anaconda then you can install all required
# Python packages by running the following commands in a shell:
#
#     conda create --name tf_dev python=3.8 pip
#     conda activate tf_dev
#     pip install -r requirements.txt
#
################################################################


pandas
matplotlib
numpy
jupyter
tensorflow
tensorflow_datasets
scipy